
.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 16px;
}

.banner p {
  color: white;
  margin-bottom: 30px;
}
